<!DOCTYPE html>
<html>
<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="../bower_components/d3/d3.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
  <script src="../lib/lrDragNDrop.js"></script>
  <script src="app/pie-chart.directive.js"></script>
  <script src="app/hz-table.directive.js"></script>
  <script src="app/table.module.js"></script>
  <style type="text/css">
    .table thead tr:first-child th {
      border-bottom: none;
    }
    .batch-action {
      display: none;
    }
    .batch-action.checked {
      display: inline-block;
    }
    .batch-action.checked:before {
      content: '\f046';
      font-family: 'FontAwesome';
      margin-right: 5px;
    }
    .single-action.checked {
      display: none;
    }
    /*.ng-scope {
      outline: 1px solid red;
    }
    .ng-binding {
      outline: 1px solid purple;
    }*/
  </style>
</head>
<body ng-app="hz.dashboard" ng-controller="MainCtrl">
  <div class="wrapper" style="padding: 10px;">
    <table st-table="displayedCollection" st-safe-src="rowCollection" hz-table class="table">
      <thead>
        <tr class="actions-header">
          <th colspan="7">
            <div class="form-inline">
              <button class="btn btn-primary batch-action" ng-class="{ checked: numSelected }" ng-click="doSomething(selected)">Batch Action</button>
              <button class="btn btn-primary single-action" ng-class="{ checked: numSelected }" ng-click="addRow()">Create</button>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" st-search class="form-control" placeholder="Filter">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th><input type="checkbox" hz-select-all="displayedCollection" ng-checked="numSelected === displayedCollection.length"/></th>
          <th>Name</th>
          <th>VCPUs</th>
          <th>RAM</th>
          <th>Total Disk</th>
          <th>Root Disk</th>
          <th>Ephemeral Disk</th>
          <th>Public</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in displayedCollection track by row.id">
          <td><input type="checkbox" ng-model="selected[row.id].checked" ng-change="toggle(row)"/></td>
          <td>{{ row.name }}</td>
          <td>{{ row.vcpus }}</td>
          <td>{{ row.ram }}</td>
          <td>{{ row.totalDisk }}</td>
          <td>{{ row.rootDisk }}</td>
          <td>{{ row.ephemeralDisk }}</td>
          <td>{{ row.isPublic }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">Displaying {{ rowCollection.length }} items</td>
        </tr>
      </tfoot>
    </table>
    <table st-table="rowCollection" hz-table class="table">
      <thead>
        <tr class="actions-header">
          <th colspan="7">
            <div class="form-inline">
              <button class="btn btn-primary batch-action" ng-class="{ checked: numSelected }">Batch Action</button>
              <button class="btn btn-primary single-action" ng-class="{ checked: numSelected }" ng-click="addRow()">Create</button>
            </div>
          </th>
        </tr>
        <tr>
          <th><input type="checkbox" hz-select-all="rowCollection" ng-checked="numSelected === rowCollection.length"/></th>
          <th>Name</th>
          <th>VCPUs</th>
          <th>RAM</th>
          <th>Total Disk</th>
          <th>Root Disk</th>
          <th>Ephemeral Disk</th>
          <th>Public</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in rowCollection track by row.id">
          <td><input type="checkbox" ng-model="selected[row.id].checked" ng-change="updateSelectCount(row)"/></td>
          <td>{{ row.name }}</td>
          <td>{{ row.vcpus }}</td>
          <td>{{ row.ram }}</td>
          <td>{{ row.totalDisk }}</td>
          <td>{{ row.rootDisk }}</td>
          <td>{{ row.ephemeralDisk }}</td>
          <td>{{ row.isPublic }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">Displaying {{ rowCollection.length }} items</td>
        </tr>
      </tfoot>
    </table>
  </div>
</body>
</html>