.rst {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  thead tr th {
    border: none;
  }

  tbody tr {
    &[lr-drag-src] td:not(.expander) {
      cursor: move;
    }

    &.lr-drop-target-before td {
      border-top: 2px solid #1f83c6;
    }

    &.lr-drop-target-after td {
      border-bottom: 2px solid #1f83c6;
    }

    td {
      position: relative;
      white-space: nowrap;
      z-index: 10;

      &:first-child {
        border-left: 1px solid $table-border-color;
      }

      &:last-child, &.select-col {
        border-right: 1px solid $table-border-color;
      }

      &.action-col {
        background-color: #ffffff;
        border-left: 1px solid $table-border-color;
        text-align: center;
        vertical-align: top;
        z-index: 20;
      }

      &.detail {
        padding: 1em;
        white-space: normal;
      }

      &.spacer {
        background-color: #ffffff;
        border-right: none;
        border-left: none;
        height: $table-gap-height;
        padding: 0;
        position: relative;
        z-index: 30;
      }

      &.numeric {
        text-align: right;
      }

      &.reorder {
        border-right: 1px solid $table-border-color;
        padding-right: 22px;
        position: relative;

        &:after {
          content: '\f07d';
          display: inline-block;
          font-family: 'FontAwesome';
          position: absolute;
          right: 0;
          text-align: left;
          width: 15px;
        }
      }
    }

    &:nth-last-child(2) td:not(.spacer) {
      border-bottom: 1px solid $table-border-color;
    }

    &:last-child {
      td.detail {
        border-top: none;
        border-bottom: 1px solid $table-border-color;
      }
    }
  }

  .select-col {
    max-width: 2.5em;
    width: 2.5em;
    text-align: center;
  }

  &.rst-expandable {
    tbody {
      tr {
        &.detail-row td.detail {
          display: none;
        }

        &.expanded + tr td.detail {
          display: table-cell;
        }

        &:nth-last-child(3).expanded + tr td.detail {
          border-bottom: none;
        }

        &:nth-last-child(2).expanded + tr td.detail {
          border-bottom: 1px solid $table-border-color;
        }
      }
    }

    .expander {
      cursor: pointer;
      max-width: 1.5em;
      width: 1.5em;
    }

    &.table-striped tbody {
      tr:nth-child(2n+1) {
        background-color: inherit;
      }

      tr {
        &:nth-child(6n+4), &:nth-child(6n+5) {
          background-color: #f9f9f9;

          .action-col {
            background-color: #f9f9f9;
          }
        }
      }
    }

    &.table-hover tbody {
      tr:nth-child(3n):hover, tr:nth-child(3n+2):hover {
        background-color: inherit;
      }

      tr:nth-child(3n+1):hover .action-col, tr.expanded:nth-child(3n+1):hover + tr {
        background-color: #f5f5f5;
      }
    }
  }

  &.rst-batch-action {
    .action-col {
      min-width: $batch-action-width;
      max-width: $batch-action-width;
      width: $batch-action-width;
    }

    td.detail {
      padding-right: $batch-action-padding;
    }
  }

  &.modern {
    tbody tr {
      td {
        border: none;

        &:not(.detail) {
          border-top: 1px solid $table-border-color;
        }
      }

      &.expanded {
        td {
          border-bottom: none;
        }

        &:nth-last-child(2) td:last-child[rowspan='2'] {
          border-bottom: 1px solid $table-border-color;
        }
      }
    }
  }

  @media only all {
    .rst-p1, .rst-p2,
    .rst-p3, .rst-p4 {
      display: none;
    }

    .rst-alt-p1, .rst-alt-p2,
    .rst-alt-p3, .rst-alt-p4 {
      display: inline-block;
    }
  }

  @media screen and (min-width:20em) {
    .rst-p1 {
      display: table-cell;
    }

    .rst-alt-p1 {
      display: none;
    }
  }

  @media screen and (min-width:30em) {
    .rst-p2 {
      display: table-cell;
    }

    .rst-alt-p2 {
      display: none;
    }
  }

  @media screen and (min-width:40em) {
    .rst-p3 {
      display: table-cell;
    }

    .rst-alt-p3 {
      display: none;
    }
  }

  @media screen and (min-width:50em) {
    .rst-p4 {
      display: table-cell;
    }

    .rst-alt-p4 {
      display: none;
    }
  }
}