.rst {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%; }
  .rst thead tr th {
    border: none; }
  .rst tbody tr td {
    position: relative;
    white-space: nowrap;
    z-index: 10; }
    .rst tbody tr td:first-child {
      border-left: 1px solid #cccccc; }
    .rst tbody tr td:last-child, .rst tbody tr td.select-col {
      border-right: 1px solid #cccccc; }
    .rst tbody tr td.action-col {
      background-color: #ffffff;
      border-left: 1px solid #cccccc;
      text-align: center;
      vertical-align: top;
      z-index: 20; }
    .rst tbody tr td.detail {
      padding: 1em;
      white-space: normal; }
    .rst tbody tr td.spacer {
      background-color: #ffffff;
      border-right: none;
      border-left: none;
      height: 0.5em;
      padding: 0;
      position: relative;
      z-index: 30; }
  .rst tbody tr:nth-last-child(2) td:not(.spacer) {
    border-bottom: 1px solid #cccccc; }
  .rst tbody tr:last-child td.detail {
    border-top: none;
    border-bottom: 1px solid #cccccc; }
  .rst .select-col {
    max-width: 2.5em;
    width: 2.5em;
    text-align: center; }
  .rst.rst-expandable tbody tr.detail-row td.detail {
    display: none; }
  .rst.rst-expandable tbody tr.expanded + tr td.detail {
    display: table-cell; }
  .rst.rst-expandable tbody tr:nth-last-child(3).expanded + tr td.detail {
    border-bottom: none; }
  .rst.rst-expandable tbody tr:nth-last-child(2).expanded + tr td.detail {
    border-bottom: 1px solid #cccccc; }
  .rst.rst-expandable .expander {
    cursor: pointer;
    max-width: 1.5em;
    width: 1.5em; }
  .rst.rst-expandable.table-striped tbody tr:nth-child(2n+1) {
    background-color: inherit; }
  .rst.rst-expandable.table-striped tbody tr:nth-child(6n+4), .rst.rst-expandable.table-striped tbody tr:nth-child(6n+5) {
    background-color: #f9f9f9; }
    .rst.rst-expandable.table-striped tbody tr:nth-child(6n+4) .action-col, .rst.rst-expandable.table-striped tbody tr:nth-child(6n+5) .action-col {
      background-color: #f9f9f9; }
  .rst.rst-expandable.table-hover tbody tr:nth-child(3n):hover, .rst.rst-expandable.table-hover tbody tr:nth-child(3n+2):hover {
    background-color: inherit; }
  .rst.rst-expandable.table-hover tbody tr:nth-child(3n+1):hover .action-col, .rst.rst-expandable.table-hover tbody tr.expanded:nth-child(3n+1):hover + tr {
    background-color: #f5f5f5; }
  .rst.rst-batch-action .action-col {
    min-width: 10em;
    max-width: 10em;
    width: 10em; }
  .rst.rst-batch-action td.detail {
    padding-right: 11em; }
  .rst.modern tbody tr td {
    border: none; }
    .rst.modern tbody tr td:not(.detail) {
      border-top: 1px solid #cccccc; }
  .rst.modern tbody tr.expanded td {
    border-bottom: none; }
  .rst.modern tbody tr.expanded:nth-last-child(2) td:last-child[rowspan='2'] {
    border-bottom: 1px solid #cccccc; }
  @media only all {
    .rst .rst-p1, .rst .rst-p2,
    .rst .rst-p3, .rst .rst-p4 {
      display: none; }
    .rst .rst-alt-p1, .rst .rst-alt-p2,
    .rst .rst-alt-p3, .rst .rst-alt-p4 {
      display: inline-block; } }
  @media screen and (min-width: 20em) {
    .rst .rst-p1 {
      display: table-cell; }
    .rst .rst-alt-p1 {
      display: none; } }
  @media screen and (min-width: 30em) {
    .rst .rst-p2 {
      display: table-cell; }
    .rst .rst-alt-p2 {
      display: none; } }
  @media screen and (min-width: 40em) {
    .rst .rst-p3 {
      display: table-cell; }
    .rst .rst-alt-p3 {
      display: none; } }
  @media screen and (min-width: 50em) {
    .rst .rst-p4 {
      display: table-cell; }
    .rst .rst-alt-p4 {
      display: none; } }

/*# sourceMappingURL=styles.css.map */
